@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/static/Outfit-Black.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "outfit";
  src: url(./assets//fonts/outfit/static/Outfit-Bold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/static/Outfit-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: normal;
}
